---
import { Image } from 'astro:assets';
import ruammitTools1 from '/public/ruammit-tools-1.jpeg'
import ruammitTools2 from '/public/ruammit-tools-2.jpeg'
import ruammitTools3 from '/public/ruammit-tools-3.jpeg'
import catMaps1 from '/public/cat-maps-1.jpg'
import catMaps2 from '/public/cat-maps-2.jpg'
import catMaps3 from '/public/cat-maps-3.jpg'
import catMaps4 from '/public/cat-maps-4.jpg'
import catMaps5 from '/public/cat-maps-5.jpg'
import catMaps6 from '/public/cat-maps-6.jpg'
import graduateProject1 from '/public/graduate-project-1.jpg'
import graduateProject2 from '/public/graduate-project-2.jpg'
import graduateProject3 from '/public/graduate-project-3.jpg'
import graduateProject4 from '/public/graduate-project-4.jpg'
import graduateProject5 from '/public/graduate-project-5.jpg'
import graduateProject6 from '/public/graduate-project-6.jpg'
---

<section>
  <h2>Side Projects</h2>
  <article>
    <header>
      <h3>Ruammit Tools</h3>
      <a href="https://github.com/pufferbommy/tools">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9" class="pixelicon-github">
          <path fill="#343341" d="M3,2H4V3H5V2H6V1H3z"/>
          <rect fill="#343341" x="2" y="2" width="1" height="1"/>
          <rect fill="#343341" x="6" y="2" width="1" height="1"/>
          <path fill="#343341" d="M2,3H1V6H3V5H2z"/>
          <path fill="#343341" d="M8,3H7V5H6V7H7V6H8z"/>
          <path fill="#EBEAF7" d="M4,2H3V3H2V5H3V6H2V7H3V8H6V5H7V3H6V2H5V3H4z"/>
        </svg>
      </a>
      <a target="_blank" href="https://ruammit-tools.netlify.app">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9" class="pixelicon-export">
          <polygon fill="#FFB100" points="6,5 6,7 3,7 3,4 2,4 2,8 7,8 7,5"/>
          <rect fill="#4435FF" x="4" y="3" width="1" height="3"/>
          <polygon fill="#4435FF" points="8,2 8,1 7,1 7,0 6,0 6,2 5,2 5,3 6,3 6,5 7,5 7,4 8,4 8,3 9,3 9,2"/>
        </svg>
      </a>
    </header>
    <p>A collection of online tools.</p>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <Image src={ruammitTools1} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={ruammitTools2} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={ruammitTools3} alt="" />
        </div>
      </div>
    </div>
  </article>
  <article>
    <header>
      <h3>Cat Maps</h3>
      <a href="https://github.com/pufferbommy/cat-maps">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9" class="pixelicon-github">
          <path fill="#343341" d="M3,2H4V3H5V2H6V1H3z"/>
          <rect fill="#343341" x="2" y="2" width="1" height="1"/>
          <rect fill="#343341" x="6" y="2" width="1" height="1"/>
          <path fill="#343341" d="M2,3H1V6H3V5H2z"/>
          <path fill="#343341" d="M8,3H7V5H6V7H7V6H8z"/>
          <path fill="#EBEAF7" d="M4,2H3V3H2V5H3V6H2V7H3V8H6V5H7V3H6V2H5V3H4z"/>
        </svg>
      </a>
    </header>
    <p>View cat images and locations on the map.</p>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <Image src={catMaps1} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={catMaps2} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={catMaps3} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={catMaps4} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={catMaps5} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={catMaps6} alt="" />
        </div>
      </div>
    </div>
  </article>
  <article>
    <header>
      <h3>Graduate Project</h3>
      <a href="https://github.com/unknowguy2001/final-project">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9" class="pixelicon-github">
          <path fill="#343341" d="M3,2H4V3H5V2H6V1H3z"/>
          <rect fill="#343341" x="2" y="2" width="1" height="1"/>
          <rect fill="#343341" x="6" y="2" width="1" height="1"/>
          <path fill="#343341" d="M2,3H1V6H3V5H2z"/>
          <path fill="#343341" d="M8,3H7V5H6V7H7V6H8z"/>
          <path fill="#EBEAF7" d="M4,2H3V3H2V5H3V6H2V7H3V8H6V5H7V3H6V2H5V3H4z"/>
        </svg>
      </a>
    </header>
    <p>Searching companies in the university network for internships.</p>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <Image src={graduateProject1} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={graduateProject2} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={graduateProject3} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={graduateProject4} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={graduateProject5} alt="" />
        </div>
        <div class="swiper-slide">
          <Image src={graduateProject6} alt="" />
        </div>
      </div>
    </div>
  </article>
</section>

<style>
  img {
    height: 100%;
  }

  .swiper {
		margin-top: 1rem;
    width: 100%;
    height: 100%;
    min-width: 0;
    max-width: 100%;
	}

	.swiper-slide {
    width: auto;
    height: auto;
		display: flex;
		aspect-ratio: 16 / 9;
	}

  .swiper-slide > img {
    width: 16rem;
  }
</style>

<script>
	import Swiper from 'swiper';
	import 'swiper/css';

	new Swiper(".swiper", {
		slidesPerView: 'auto',
		spaceBetween: 16,
	});
</script>